<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map&amp;LocationMnager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2B528CD1E11F329007A5CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B528E61E11F329007A5CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2B528F11E11F329007A5CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
